{% extends "layout.html" %}

{% block content %}
<div class="container tableFixHead">

    <table class="table table-fixed">
        <thead class="thead-dark">
            <tr>
                <th width="500px;">{{ frase }}</th>
                {% if artistas %}
                    <th>Artista</th>
                {% endif %}

                <th>Sample</th>
            </tr>
        </thead>
        {{ tracks |safe }}
{#        <tbody id="data-table">#}
{#        {% for name,dados in tracks.items %}#}
{#            <tr>#}
{#                <td><img src="{{ dados.imagem }}"/> <a href="{{ dados.url }}" target="_blank"> {{ name }}</a>  </td>#}
{#                {% if artistas %}#}
{#                    <td>#}
{#                        {% for nome,id in dados.artistas.items %}#}
{#                            <a href="{% url 'artistTracks' %}?id={{ id }}" target="_blank">{{ nome }}</a>#}
{#                            <br />#}
{#                        {% endfor %}#}
{#                    </td>#}
{#                {% endif %}#}
{#                <td><iframe src="{{ dados.embed }}" width="270" height="80"></iframe></td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
    </table>
</div>

{% endblock %}
