
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PlaylistOnTheWeb</title>

    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}" />
    <!--Template-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
    h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
    body {font-family: "Open Sans"}
    </style>

  </head>

  <body class="w3-light-grey">

    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/home">PlaylistOnTheWeb</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <!--<li class="nav-item">
            <a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>
          </li>-->
          <li class="nav-item" >
            <a class="nav-link" href="/artistas">Artists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/musicas">Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/albums">Albums</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/criarPlayList">Create PlayList</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/myPlayList">My PlayList</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/pageRSS">News</a>
          </li>
        </ul>
      </div>
    </nav>


    <main role="main">
        <br />
        <div class="container body-content">

            {% block content %} <!-- Navigation bar with social media icons -->
<div class="w3-bar w3-black w3-hide-small">
  <a href="#" class="w3-bar-item w3-button"></a>
  <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa"></i></a>
</div>

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

  <!-- Header -->
  <header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-xxxlarge"><b>PlayList On The WEB</b></h1>
    <h6>Discover <span class="w3-tag">Spotify PlayList</span></h6>
  </header>

  <!-- Image header -->
  <header class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="../static/1*-0vW8zx_gBNEb95OP5Uptg.png" alt="Fashion Blog" width="1600" height="800">

    <!--<div class="w3-display-left w3-padding-large">
      <h1 class="w3-text-white">Jane's</h1>
      <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>FASHION BLOG</b></h1>
      <h6><button class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off" onclick="document.getElementById('subscribe').style.display='block'">SUBSCRIBE</button></h6>
    </div>-->
  </header>

  <!-- Grid -->
  <div class="w3-row w3-padding w3-border">
    <!-- Blog entries -->
    <div class="w3-col l8 s12">

      <!-- Blog entry -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
          <div class="w3-center">
            <h3>News</h3>
             <br />
          </div>
          <div class="w3-justify">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                  {% for title,dados in  rss.items %}
                      {% if forloop.counter == 1 %}
                        <div class="item active">
                             <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                    <h2>
                                        <span><strong><a href="{{ dados.link }}" style="color: black" target="_blank">{{ title }}</a></strong></span>
                                    </h2>
                                    <br>
                                </div>
                            </div><!-- /header-text -->
                            <img src="{{ dados.thumbnail }}" alt="{{ title }}">
                        </div>
                      {% else %}
                          <div class="item">

                             <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                    <h2>
                                        <span><strong><a href="{{ dados.link }}" style="color: black" target="_blank">{{ title }}</a></strong></span>
                                    </h2>
                                    <br>
                                </div>
                            </div><!-- /header-text -->
                            <img src="{{ dados.thumbnail }}" alt="{{ title }}">

                        </div>
                      {% endif %}
                      <br />
                  {% endfor %}
                  </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>

        </div>

      </div>

        <!-- Blog entry -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>Create your PLayList</h3>
          <!--<h5>Title description, <span class="w3-opacity">May 2, 2016</span></h5>-->
        </div>

        <div class="w3-justify">
          <p>Have you ever fealt the need to create your own PlayList based on another PlayList?
              This is your chance of doing so, enjoy our WebApp and create your PlayList now!</p>
          <!--<p class="w3-left"><button class="w3-button w3-white w3-border" onclick="likeFunction(this)"><b><i class="fa fa-thumbs-up"></i> Like</b></button></p>-->
          <p class="w3-center"><a class="w3-button w3-black" id="myBtn" href="{% url 'criarPlayList' %}" target="_blank"><b>CREATE PLAYLIST </b></a></p>

        </div>
        <br />
        <div class="w3-center">
          <h3>Consult Musics and Artists</h3>
        </div>

        <div class="w3-justify">
          <p >It is also possible to consult the songs from a PlayList and the artists with featured songs!</p>
          <p class="w3-center"><a class="w3-button w3-black" id="myBtn" href="{% url 'musicas' %}" target="_blank"> <b>CHECK SONGS  </b></a> </p>
          <p class="w3-center"><a class="w3-button w3-black" id="myBtn" href="{% url 'artistas' %}" target="_blank"><b>CHECK ARTISTS  </b></a></p>

          <p class="w3-clear"></p>
        </div>
      </div>

    </div>

    <!-- About/Information menu -->
    <div class="w3-col l4">
      <!-- About Card -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-black">
          <h4>This Project</h4>
            <p>A project made in Django and BaseX that displays information retrieved from Spotify's API on a Web Application.</p>
             <p> Project made for the course EDC from MSc in Computer and Telematics Engineering at Universidade de Aveiro.</p>
        </div>
      </div>
      <hr>

      <!-- Posts -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Popular Songs</h4>
        </div>

          {% for name,dados in tracks.items %}
              <ul class="w3-ul w3-hoverable w3-white">
                  <li class="w3-padding-16">
                <img src="{{ dados.imagem }}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                <a class="w3-large" href="{{ dados.url }}" target="_blank"> {{ name }}</a>
                <br />
                    {% for nome,id in dados.artistas.items %}
                        <a href="{% url 'artistTracks' %}?id={{ id }}" target="_blank">{{ nome }}</a>
                    {% endfor %}
                   </li>
               </ul>
          {% endfor %}


      </div>
      <hr>




    <!-- END About/Intro Menu -->
    </div>


  <!-- END GRID -->
  </div>

<!-- END w3-content -->
</div>

{% endblock %}

        </div> <!-- /container -->
    </main>

    <!-- Footer -->
    <footer class="page-footer font-small special-color-dark pt-4">
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a> PlaylistOnTheWeb</a>
      </div>
    </footer>
    <!-- Footer -->

    <!-- JQuery and Bootstrap core
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'scripts/popper.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  </body>
</html>

<script>
    //Filter Search
    $('#myInput').on('keyup', function () {
        var value = $(this).val().toLowerCase();
        $("#data-table tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

        //Filter Search
    $('#myInput').on('keyup', function () {
        var value = $(this).val().toLowerCase();
        $("#myTable li").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

    function alertPlayList() {
      alert("Playlist criada com sucesso! \nConsulte na sua barra de MINHAS PLAYLISTS");
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
    }
</script>



