
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PlaylistOnTheWeb</title>

    {% load static %}
      <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}" />
    <!--Template-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
    h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
    body {font-family: "Open Sans"}
    </style>

  </head>

  <body class="w3-light-grey">

    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/home">PlaylistOnTheWeb</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <!--<li class="nav-item">
            <a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>
          </li>-->
          <li class="nav-item" >
            <a class="nav-link" href="/artistas">Artists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/musicas">Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/albums">Albums</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/criarPlayList">Create PlayList</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/myPlayList">My PlayList</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/pageRSS">News</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input id="myInput"  class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        </form>
      </div>
    </nav>


    <main role="main">
        <br />
        <div class="container body-content">

            {% block content %} {% endblock %}
        </div> <!-- /container -->
    </main>

    <!-- Footer -->
    <footer class="page-footer font-small special-color-dark pt-4">
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a> PlaylistOnTheWeb</a>
      </div>
    </footer>
    <!-- Footer -->

    <!-- JQuery and Bootstrap core
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'scripts/popper.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  </body>
</html>

<script>
    function showHidenItens(a) {
      var x = document.getElementById(a);
      if (x.style.display == "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }

    //Filter Search
    $('#myInput').on('keyup', function () {
        var value = $(this).val().toLowerCase();
        $("#data-table tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

        //Filter Search
    $('#myInput').on('keyup', function () {
        var value = $(this).val().toLowerCase();
        $("#myTable li").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

    //Filter Search
    $('#myInput').on('keyup', function () {
        var value = $(this).val().toLowerCase();
        $(".five ul").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
    }
</script>
