
body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

body {
	 background-color: #bdc3c7;
}
.table-fixed {
    width: 100%;
    background-color: #f3f3f3;
}
.table-fixed tbody {
     height: 200px;
     overflow-y: auto;
     width: 100%;
}

.tableFixHead {
  overflow: auto;
  height: 800px;
  width: 900px;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  text-align: left;
}

.breadcrumb {
    list-style: none;
    padding: 0;
}

.breadcrumb > li {
    display: inline;
    width: 370px;
}

.breadcrumb > li:not(:last-child)::after {
    content: "›";
    margin: 0 .25em;
}

